{% extends "layout.html" %}

{% block title %}
    Book Bandits
{% endblock %}

{% block body %}
    <h1>Welcome {{session.username.capitalize()}} !</h1>
    <h2><i class="fas fa-book-reader"></i></h2>

    <form action="{{ url_for('search') }}" method="post" class="row justify-content-center">
      <input class="form-control col-sm-4" type="text" name ="book" placeholder="Search Books" aria-label="Search">

      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>


    </form>



{% endblock %}
