{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block body %}
    <h1>Login</h1>

    <form action="{{ url_for('login') }}" method="post">

        <div class="form-group row justify-content-center">
          <input class="form-control col-sm-4" name="username" placeholder="Username">
        </div>

        <div class="form-group row justify-content-center">
            <input class="form-control col-sm-4" type="password" name="password" placeholder="Password">
        </div>

        <div class="form-group row justify-content-center">
            <button class="btn btn-primary ">Login</button>
        </div>

        <div class= "form-group row justify-content-center">
            <a href="{{ url_for('register') }}">New to the site? Click here to register!</a>
        </div>

    </form>
{% endblock %}
