{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block body %}
    <h1>Register</h1>

    <form action="{{ url_for('register') }}" method="post">

        <div class="form-group row justify-content-center">
          <input class="form-control col-sm-4" name="username" placeholder="Enter Username">
        </div>

        <div class="form-group row justify-content-center">
            <input class="form-control col-sm-4" type="password" name="password" placeholder="Enter Password">
        </div>

        <div class="form-group row justify-content-center">
            <input class="form-control col-sm-4" type="password" name="password_confirm" placeholder="Enter Password Again">
        </div>


        <div class="form-group row justify-content-center">
            <button class="btn btn-primary">Register</button>
        </div>
        <p class="row justify-content-center">By creating an account you agree to our&nbsp;<a href="#">Terms & Privacy.</a></p>

    </form>
{% endblock %}
